
body {
  background-color: rgb(172, 247, 172);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(230, 255, 249);
  background-color: rgb(90, 184, 90);
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: red;
  z-index: 1;
}